h1 {
    font-size: 42px;
    font-family: 'Alfa Slab One', cursive;
    font-style: normal;
    font-weight: 400;
    line-height: 1.10909;
    text-align: center;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.428571;
    color: #333;
    text-align: center;
}

#target-number {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 1.42857143;
    color: #333;
    text-align: center;
}

h4 {
    font-size: 26px;
    text-align: center;
}

#current-score {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    font-size: 40px;
    color: darkcyan;
    text-align: center;
}

.tot {
    font-size: 26px;
    text-align: center;
}

body, html {
    background: url(../images/1057440.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    /* For WebKit*/
    -moz-background-size: cover;
    /* Mozilla*/
    -o-background-size: cover;
    /* Opera*/
    background-size: cover;
}

.crys {
    margin-top: 10px;
}

.wins {
    font-size: 20px;
}

.markloss {
    font-size: 20px;
}

.winAnnounce {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    line-height: 1.42857143;
    color: #333;
    background-color: aqua;
    text-align: center;
}

.crystal-img {
    width: 50%;
}

#default-panel {
    text-align: center;
}

@media screen and (device-width:375px) {
    .crystal-img {
        width: 100%;
    }
}

@media screen and (device-width:414px) {
    .crystal-img {
        width: 100%;
    }
}

@media screen and (device-width:320px) {
    .crystal-img {
        width: 100%;
    }
}

@media screen and (device-width:411px) {
    .crystal-img {
        width: 100%;
    }
}